Flask>2.0 # BSD-3-Clause
Flask-Caching>2.0 # BSD
Flask-SQLAlchemy>3.0 # BSD-3-Clause
Flask-Migrate>4.0 # MIT
Flask-Wtf>=1.1 # BSD-3-Clause
authlib>=1.2 # BSD-3-Clause
# Requests is an unlisted dependency of authlib
requests>=2.28 # Apache-2.0
pyyaml>=6.0 # MIT
requests # Apache-2.0
flask_restful # BSD 3-Clause
