{% extends "base.html" %}

{% block content %}
<div class="container">

    <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div class="mb-3">
      <label for="{{form.incident_text.id}}" class="form-label">{{form.incident_text.label}}</label>
      <textarea class="form-control {{ ' is-invalid' if form.incident_text.errors
                        | length > 0 else '' }}" 
             id="{{form.incident_text.id}}"
             name="{{form.incident_text.name}}"
             rows=3
             aria-describedby="incidentTextHelp"></textarea>
       <div id="incidentTextHelp" class="form-text">Please enter Incident
         summary here.</div>
       <div class="invalid-feedback">{{ form.incident_text.errors | join(', ')
         }}
       </div>
    </div>

    <div class="mb-3">
      <label for="{{form.incident_impact.id}}"
        class="form-label">{{form.incident_impact.label}}</label>
      <select 
          class="form-select form-select-sm mb-3 {{ ' is-invalid' if
                 form.incident_impact.errors
                        | length > 0 else '' }}"
          aria-label=".form-select-sm" 
          id="{{form.incident_impact.id}}" 
          name="{{form.incident_impact.name}}">
        <option selected>Choose...</option>
        {% for (k, v) in form.incident_impact.choices %}
        <option value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
      <div id="incidentImpactHelp" class="form-text">Please enter incident impact
        here.</div>
      <div class="invalid-feedback">{{form.incident_impact.errors | join(', ')
        }}</div>
    </div>

    <div class="mb-3">
      <label for="{{form.incident_components.id}}"
        class="form-label">{{form.incident_components.label}}</label>
      <select 
          class="form-select form-select-sm mb-3 {{ ' is-invalid' if
                 form.incident_components.errors
                        | length > 0 else '' }}"
          aria-label="multiple .form-select-sm" 
          multiple
          size="10"
          id="{{form.incident_components.id}}"
          name="{{form.incident_components.name}}">
        <option selected>Choose...</option>
        {% for (k, v) in form.incident_components.choices %}
        {% with attrs = v.get_attributes_as_dict() %}
        <option value="{{k}}">{{v.name}} (region: {{attrs['region']}})</option>
        {% endwith %}
        {% endfor %}
      </select>
      <div id="incidentServicesHelp" class="form-text">Please enter services
        affected.</div>
      <div class="invalid-feedback">{{form.incident_components.errors | join(', ')
        }}</div>
    </div>

    <div class="mb-3">
      <label for="{{form.incident_start.id}}" class="form-label">{{form.incident_start.label}}</label>
      <input class="form-control {{ ' is-invalid' if
                 form.incident_start.errors
                        | length > 0 else '' }}" type="datetime-local"
             id="{{form.incident_start.id}}"
             name="{{form.incident_start.name}}"
             aria-describedby="incidentStartHelp"/>
      <div id="nextUpdateHelp" class="form-text">
        Select the incident start time.
      </div>
      <div class="invalid-feedback">{{form.incident_start.errors | join(', ')
        }}</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{% endblock %}
