{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="mb-3">
    <h1>Event History</h1>
  </div>

  <div class="mb-3">
  {% set past_incidents = incidents.get_history_by_months(None) %}
  {% if past_incidents.values() | length == 0 %}
    <div class="alert alert-success" role="alert">
      No incidents yet.
    </div>
  {% else %}
    {% for incident_group in past_incidents.values()
      | sort(attribute='0.end_date', reverse = True) %}
      <h3 class="mb-3">{{ incident_group[0].end_date.strftime('%B %Y') }}</h3>
      <ul class="history">
      {% for incident in incident_group
        | sort(attribute='start_date', reverse = True) %}
        {% set impact = config['INCIDENT_IMPACTS'][incident.impact] %}
        <li class="history-item mb-5">
          <span class="history-icon">
            <i class="bi sd-{{impact.key}}"></i>
          </span>

          <h4><a class="link-dark" href="incidents/{{incident.id}}">
            {{ incident.text }}</a></h4>
          <p class="text-muted mb-2 fw-bold">
            {{ incident.start_date.strftime('%d %b, %H:%M') }} -
            {{ incident.end_date.strftime('%d %b, %H:%M')}}</p>
          {% if incident.impact == 0 %}
          <p class="text-muted">This maintenance has been completed.</p>
          {% else %}
          <p class="text-muted">This incident has been resolved.</p>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}
  </div>
{% endblock %}
