{% extends "base.html" %}

{% block content %}
<div class="container">

  <input type="hidden" id="incidentImpact" value="{{ incident.impact }}">
  <h4><i class="bi sd-{{ config['INCIDENT_IMPACTS'][incident.impact].key }}"></i>
    {{ incident.text }}</h4>
  {% if incident.impact == 0 %}
  <p class="indent">
  {% set desc = incident.updates
    | selectattr('status', 'equalto', 'description')
    | first
    | default(None) %}
  {% if desc %}
    {{ desc.text }}
  {% endif %}
  {% block add_message %}
    {% include 'message.html' ignore missing %}
  {% endblock %}
  </p>
  {% endif %}
  <h6>Impact: {{ config['INCIDENT_IMPACTS'][incident.impact].string }}</h6>
  {% set regions = incident.get_attributes_by_key('region') %}
  <h6>Affected Region(s): {{
      regions
      | join(', ')
      }}</h6>
  <h6>Affected Service(s):
      {% set comma = joiner() %}
      {% for comp in incident.components -%}
      {% with attrs = comp.get_attributes_as_dict() -%}
        {{- comma() }}
      {% if 'user' in session
        and not incident.end_date
        and incident.components|length > 1 -%}
          <a class="link-dark"
            href="#"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown">{{ comp.name }}
              {%- if regions|length > 1 %}
                ({{attrs['region']}})
              {%- endif %}</a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item"
            href="{{ url_for('web.separate_incident',
              incident_id=incident.id,
              component_id=comp.id) }}">Separate into a new incident</a>
          </div>

      {% else -%}
        {{ comp.name }}
        {%- if regions|length > 1 %}
          ({{attrs['region']}})
        {%- endif %}
      {%- endif %}
      {%- endwith %}
      {%- endfor %}
  </h6>
{% if incident.impact == 0 %}
  <small>
    <b>Began at:</b> <span class="datetime">{{ incident.start_date.isoformat() }}Z</span>&nbsp;<br/>
    {% if now <= incident.end_date %}
      <b>Planned end date:</b> <span class="datetime">{{ incident.end_date.isoformat() | default('no') }}Z</span>&nbsp;
    {% else %}
      <b>Ended at:</b> <span class="datetime">{{ incident.end_date.isoformat() | default('no') }}Z</span>&nbsp;
    {% endif %}
  </small>
{% else %}
  <small>Incident began at
    <span class="datetime">{{ incident.start_date.isoformat() }}Z</span>&nbsp;
    {% if incident.end_date %}
      and ended at
      <span class="datetime">{{ incident.end_date.isoformat() | default('no') }}Z</span>&nbsp;
    {% endif %}
  </small>
{% endif %}
  <hr/>

  <div class="container text-left">
  {% for update in incident.updates | rejectattr('status', 'equalto', 'description') | list %}
    <div class="row">
        <div class="col-md-2">
            <h6>{{ update.status }}</h6>
            <small>
              <span class="datetime">{{ update.timestamp.isoformat() }}Z</span>&nbsp;
            </small>
        </div>
        <div class="col-md-10">
            {{ update.text|safe }}
        </div>
        <hr/>
     </div>
  {% endfor %}
  </div>

  {% if form %}
    <div class="incident-update-form mt-4">
      <form action="/incidents/{{incident.id}}" method="POST" novalidate>
      {{ form.hidden_tag() }}

      <div class="mb-3">
        <label for="{{form.update_title.id}}" class="form-label">{{form.update_title.label}}</label>
        <input class="form-control
                         {% if form.update_title.errors %}is-invalid{% endif %}
                         "
               id="{{form.update_title.id}}"
               name="{{form.update_title.name}}"
               type="text"
               value="{{ form.update_title.data if form.update_title.data else incident.text }}"
               aria-describedby="updateTextHelp"></input>
         <div id="updateTextHelp" class="form-text">Please update the incident title if necessary.</div>
        {% if form.update_title.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
            {% for error in form.update_title.errors %}
               <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

    <div class="mb-3">
      <label for="{{form.update_impact.id}}"
        class="form-label">{{form.update_impact.label}}</label>
      <select
          class="form-select form-select-sm mb-3 {{ ' is-invalid' if
                 form.update_impact.errors
                        | length > 0 else '' }}"
          aria-label=".form-select-sm"
          id="{{form.update_impact.id}}"
          name="{{form.update_impact.name}}">
        <option>Choose...</option>
        {% for (k, v) in form.update_impact.choices %}
        <option
        {% if (not form.update_impact.data and k == incident.impact) or
        (form.update_impact.data and k|string in form.update_impact.data) %} selected
        {% endif %}
        value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
      <div id="incidentImpactHelp" class="form-text">Please enter incident impact
        here.</div>
      <div class="invalid-feedback">{{form.update_impact.errors | join(', ')
        }}</div>
    </div>

      <div class="mb-3" id="updateMessageDiv">
        <label for="{{form.update_text.id}}" class="form-label">{{form.update_text.label}}</label>
        <textarea class="form-control
                         {% if form.update_text.errors %}is-invalid{% endif %}
                         "
               id="{{form.update_text.id}}"
               name="{{form.update_text.name}}"
               rows=3
               aria-describedby="updateTextHelp">{{ form.update_text.data if form.update_text.data }}</textarea>
         <div id="updateTextHelp" class="form-text">Please enter update message
        here.</div>
        {% if form.update_text.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
            {% for error in form.update_text.errors %}
               <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      {# Render the default update form #}
      <div class="mb-3">
        <label for="{{form.update_status.id}}" class="form-label">{{form.update_status.label}}</label>
        <select
            {% if incident.impact == 0 %}
              onchange="updateMaintenanceFields(this);"
            {% else %}
              onchange="updateDateLabel(this);"
            {% endif %}
            class="form-select form-select-sm mb-3
                   {% if form.update_status.errors %}is-invalid{% endif %}"
            aria-label=".form-select-sm"
            id="{{form.update_status.id}}"
            name="{{form.update_status.name}}">
          <option>Choose status..</option>
          {% for (k, v) in form.update_status.choices %}
          <option
          {% if form.update_status.data and k|string in form.update_status.data %} selected
          {% endif %}
          value="{{k}}">{{v}}</option>
          {% endfor %}
        </select>
        <div id="updateStatusHelp" class="form-text">Please enter update status here.</div>
        {% if form.update_status.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
            {% for error in form.update_status.errors %}
               <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="mb-3" id="updateDateDiv">
        <label for="{{form.update_date.id}}" class="form-label" id="updateDateLabelElement">{{form.update_date.label}}</label>
        <input class="form-control
                      {% if form.update_date.errors %}is-invalid{% endif %}"
              type="datetime-local"
              id="{{form.update_date.id}}"
              name="{{form.update_date.name}}"
              value="{{ form.update_date.data if form.update_date.data else '' }}"
              aria-describedby="nextUpdateHelp"/>
        <div id="nextUpdateHelp" class="form-text">
          Please provide the time for the next expected update (<small class="timezone-info"></small>).</div>
        {% if form.update_date.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
          {% for error in form.update_date.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      {% if form.start_date is defined %}
        <div class="mb-3" id="maintenanceStartDiv" style="display: block;">
          <label for="{{form.start_date.id}}" class="form-label" id="maintenanceStartLabel">{{form.start_date.label}}</label>
          <input class="form-control {{ ' is-invalid' if form.start_date.errors | length > 0 else '' }}"
                 type="datetime-local"
                 id="{{form.start_date.id}}"
                 name="{{form.start_date.name}}"
                 value="{{ form.start_date.data if form.start_date.data else '' }}"
                 aria-describedby="incidentStartHelp"/>
          <div id="incidentStartHelp" class="form-text">
            Select the incident start time (<small class="timezone-info"></small>).
          </div>
          <div class="invalid-feedback">{{form.start_date.errors | join(', ')
            }}</div>
        </div>
      {% endif %}
      {% if form.end_date is defined %}
        <div class="mb-3" id="maintenanceEndDiv" style="display: block;">
          <label for="{{form.end_date.id}}" class="form-label" id="maintenanceEndLabel">{{form.end_date.label}}</label>
          <input class="form-control
                          {% if form.end_date.errors %}is-invalid{% endif %}"
                 type="datetime-local"
                 id="{{form.end_date.id}}"
                 name="{{form.end_date.name}}"
                 value="{{form.end_date.data if form.end_date.data else '' }}"
                 aria-describedby="incidentEndHelp"/>
          <div id="incidentEndHelp" class="form-text">
            Select the maintenance expected end time (<small class="timezone-info"></small>).
          </div>
          {% if form.end_date.errors %}
            <div class="invalid-feedback">
              <ul class="errors">
              {% for error in form.end_date.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      {% endif %}
      

      <input type="hidden" id="timezone" name="timezone">
      <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>

  {% endif %}
</div>
{% endblock %}
