{% extends "base.html" %}

{% block content %}
<div class="container">

  <h4><i class="bi sd-{{ config['INCIDENT_IMPACTS'][incident.impact].key }}"></i>
    {{ incident.text }}</h4>
  {% if incident.impact == 0 %}
  <p class="indent">
  {% set desc = incident.updates
    | selectattr('status', 'equalto', 'description')
    | first
    | default(None) %}
  {% if desc %}
    {{ desc.text }}
  {% endif %}
  {% block add_message %}
    {% include 'message.html' ignore missing %}
  {% endblock %}
  </p>
  {% endif %}
  <h6>Impact: {{ config['INCIDENT_IMPACTS'][incident.impact].string }}</h6>
  {% set regions = incident.get_attributes_by_key('region') %}
  <h6>Affected Region(s): {{
      regions
      | join(', ')
      }}</h6>
  <h6>Affected Service(s):
      {% set comma = joiner() %}
      {% for comp in incident.components -%}
      {% with attrs = comp.get_attributes_as_dict() -%}
        {{- comma() }}
      {% if 'user' in session
        and not incident.end_date
        and incident.components|length > 1 -%}
          <a class="link-dark"
            href="#"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown">{{ comp.name }}
              {%- if regions|length > 1 %}
                ({{attrs['region']}})
              {%- endif %}</a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item"
            href="{{ url_for('web.separate_incident',
              incident_id=incident.id,
              component_id=comp.id) }}">Separate into a new incident</a>
          </div>

      {% else -%}
        {{ comp.name }}
        {%- if regions|length > 1 %}
          ({{attrs['region']}})
        {%- endif %}
      {%- endif %}
      {%- endwith %}
      {%- endfor %}
  </h6>
{% if incident.impact == 0 %}
  <small>
    <b>Start date:</b> {{ incident.start_date.strftime('%Y-%m-%d %H:%M') }}&nbsp;UTC<br/>
    {% if now <= incident.end_date %}
      <b>Planned end date:</b> {{ incident.end_date.strftime('%Y-%m-%d %H:%M') | default('no') }}&nbsp;UTC
    {% else %}
      <b>End date:</b> {{ incident.end_date.strftime('%Y-%m-%d %H:%M') | default('no') }}&nbsp;UTC
    {% endif %}
  </small>
{% else %}
  <small>Incident began at
    {{ incident.start_date.strftime('%Y-%m-%d %H:%M') }}&nbsp;UTC
    {% if incident.end_date %}
      and ended at
      {{ incident.end_date.strftime('%Y-%m-%d %H:%M') | default('no') }}&nbsp;UTC
    {% endif %}
  </small>
{% endif %}
  <hr/>

  <div class="container text-left">
  {% for update in incident.updates | rejectattr('status', 'equalto', 'description') | list %}
    <div class="row">
        <div class="col-md-2">
            <h6>{{ update.status }}</h6>
            <small>{{ update.timestamp.strftime('%Y-%m-%d %H:%M') }}&nbsp;UTC</small>
        </div>
        <div class="col-md-10">
            {{ update.text|safe }}
        </div>
        <hr/>
     </div>
  {% endfor %}
  </div>

  {% if form %}
    <div class="incident-update-form mt-4">
      <form action="/incidents/{{incident.id}}" method="POST" novalidate>
      {{ form.hidden_tag() }}

      <div class="mb-3">
        <label for="{{form.update_title.id}}" class="form-label">{{form.update_title.label}}</label>
        <input class="form-control
                         {% if form.update_title.errors %}is-invalid{% endif %}
                         "
               id="{{form.update_title.id}}"
               name="{{form.update_title.name}}"
               type="text"
               value="{{ form.update_title.data if form.update_title.data else incident.text }}"
               aria-describedby="updateTextHelp"></input>
         <div id="updateTextHelp" class="form-text">Please update the incident title if necessary.</div>
        {% if form.update_title.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
            {% for error in form.update_title.errors %}
               <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

    <div class="mb-3">
      <label for="{{form.update_impact.id}}"
        class="form-label">{{form.update_impact.label}}</label>
      <select
          class="form-select form-select-sm mb-3 {{ ' is-invalid' if
                 form.update_impact.errors
                        | length > 0 else '' }}"
          aria-label=".form-select-sm"
          id="{{form.update_impact.id}}"
          name="{{form.update_impact.name}}">
        <option>Choose...</option>
        {% for (k, v) in form.update_impact.choices %}
        <option
        {% if (not form.update_impact.data and k == incident.impact) or
        (form.update_impact.data and k|string in form.update_impact.data) %} selected
        {% endif %}
        value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
      <div id="incidentImpactHelp" class="form-text">Please enter incident impact
        here.</div>
      <div class="invalid-feedback">{{form.update_impact.errors | join(', ')
        }}</div>
    </div>

      <div class="mb-3">
        <label for="{{form.update_text.id}}" class="form-label">{{form.update_text.label}}</label>
        <textarea class="form-control
                         {% if form.update_text.errors %}is-invalid{% endif %}
                         "
               id="{{form.update_text.id}}"
               name="{{form.update_text.name}}"
               rows=3
               aria-describedby="updateTextHelp">{{ form.update_text.data if form.update_text.data }}</textarea>
         <div id="updateTextHelp" class="form-text">Please enter update message
        here.</div>
        {% if form.update_text.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
            {% for error in form.update_text.errors %}
               <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      {# Render the default update form #}
      <div class="mb-3">
        <label for="{{form.update_status.id}}" class="form-label">{{form.update_status.label}}</label>
        <select
            onchange="updateDateLabel(this);"
            class="form-select form-select-sm mb-3
                   {% if form.update_status.errors %}is-invalid{% endif %}"
            aria-label=".form-select-sm"
            id="{{form.update_status.id}}"
            name="{{form.update_status.name}}">
          <option>Choose...</option>
          {% for (k, v) in form.update_status.choices %}
          <option
          {% if form.update_status.data and k|string in form.update_status.data %} selected
          {% endif %}
          value="{{k}}">{{v}}</option>
          {% endfor %}
        </select>
        <div id="updateStatusHelp" class="form-text">Please enter update status here.</div>
        {% if form.update_status.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
            {% for error in form.update_status.errors %}
               <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="mb-3" id="updateDateDiv">
        <label for="{{form.update_date.id}}" class="form-label" id="updateDateLabel">{{form.update_date.label}}</label>
        <input class="form-control
                      {% if form.update_date.errors %}is-invalid{% endif %}"
              type="datetime-local"
              id="{{form.update_date.id}}"
              name="{{form.update_date.name}}"
              value="{{form.update_date.data}}"
              aria-describedby="nextUpdateHelp"/>
        <div id="nextUpdateHelp" class="form-text">
          Please provide the time for the next expected update.</div>
        {% if form.update_date.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
          {% for error in form.update_date.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <input type="hidden" id="timezone" name="timezone">
      <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>

  {% endif %}

</div>
<script>
  // Function to set the timezone
  document.addEventListener('DOMContentLoaded', function() {
    var timezoneField = document.getElementById('timezone');
    var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    if (timezone) {
      timezoneField.value = timezone;
    } else {
      timezoneField.value = 'UTC';
    }
    updateDateLabel(); // Update the date label when the page loads
  });

  // Function to update the date label based on the selected status
  function updateDateLabel(selectElement) {
    var selectedValue = selectElement.value;
    var updateDateLabel = document.getElementById('updateDateLabel');
    var updateDateDiv = document.getElementById('updateDateDiv');
    switch (selectedValue) {
      case 'resolved':
      case 'completed':
        updateDateLabel.innerText = 'End Date:';
        break;
      case 'reopened':
        updateDateDiv.style.display = 'none'; // Hide date input
        break;
      case 'changed':
        updateDateDiv.style.display = 'Block'; // Show date input
        updateDateLabel.innerText = 'End Date:';
        break;
      case 'converted':
        updateDateLabel.innerText = 'Planned maintenance End date:';
        break;
      default:
        updateDateLabel.innerText = 'Next Update by:';
        break;
    }
  }
</script>
{% endblock %}
