{% extends "base.html" %}

{% block content %}
<div class="container">
  {% set open_incidents = incidents.open().all() %}
  {% if open_incidents | length == 0 %}
    <div class="alert alert-success" role="alert">
      All systems running
    </div>
  {% else %}
    {% for incident in open_incidents | sort(attribute='start_date', reverse = True) %}
      <div class="alert alert-{{incident.impact.value}}" role="alert">
          <h4 class="alert-heading">
              <a class="alert-link"
                  href="incidents/{{incident.id}}">{{incident.impact.value|capitalize}}: {{ incident.text }}</a>
        </h4>
        <h6>Affected Regions: {{
            incident.get_attributes_by_key('region')
            | join(', ')
            }}</h6>
        <h6>Affected Services: {{
            incident.components.all()
            | map(attribute='name')
            | join(', ')
            }}</h6>
        <small>Start: {{ incident.start_date.strftime('%Y-%m-%dT%H:%M') }}</small>
        <hr/>
        <div class="container text-left">
        {% for update in incident.updates %}
          <div class="row">
              <div class="col-md-2">
                  <h6>{{ update.status }}</h6>
                  <small>{{ update.timestamp.strftime('%Y-%m-%d %H:%M') }}</small>
              </div>
              <div class="col-md-10">
                  {{ update.text }}
              </div>
              <hr/>
           </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}

<div class="container">
  {% set regions = component_attributes.get_unique_values('region') %}
  {% set all_components_with_incidents = components.query_all_with_active_incidents().all() %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    {% for region in regions %}
      <li class="nav-item" role="presentation">
          {% if loop.first %}
          <button class="nav-link active"
          {% else %}
          <button class="nav-link"
          {% endif %}
                  id="{{ region }}-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#{{ region }}"
                  type="button"
                  role="tab"
                  aria-controls="{{region}}"
                  {% if loop.first %}
                  aria-selected="true"
                  {% else %}
                  aria-selected="false"
                  {% endif %}
                  >
              {{ region | upper }}</button>
      </li>
    {% endfor %}
  </ul>
 <!-- Tab panes -->
 <div class="tab-content mt-3">
   {% for region in regions %}
     {% if loop.first %}
       <div class="tab-pane fade show active"
     {% else %}
       <div class="tab-pane fade"
     {% endif %}
          id="{{region}}"
          tabindex="0"
          role="tabpanel"
          aria-labelledby="{{region}}-tab"
          >
          {% include 'region_card.html' %}
       </div>
   {% endfor %}
 </div>
</div>

<div>
  <div class="container mt-4">
    <ul class="list-group list-group-horizontal list-group-flush">
      <li class="list-group-item">
          <i class="bi sd-available me-1"></i>Operational</li></li>
      <li class="list-group-item">
          <i class="bi sd-maintenance me-1"></i>Maintenance</li>
      <li class="list-group-item">
          <i class="bi sd-minor me-1"></i><span>Minor Issue</span></li>
      <li class="list-group-item">
          <i class="bi sd-major me-1"></i><span>Major Issue</span></li>
      <li class="list-group-item">
          <i class="bi sd-outage me-1"></i><span>Outage</span></li>
    </ul>
  </div>
</div>
{% endblock %}

{% macro component_status_widget(incident) -%}
    {% if not incident %}
      <i class="bi sd-available"></i>
    {% else %}
      <a href="/incidents/{{incident.id}}" title="Open Incident">
        <i class="bi sd-{{incident.impact.value}}"></i>
      </a>
    {% endif %}
{% endmacro -%}
