{% extends "base.html" %}

{% block title %}
    {% include 'index_title.html' ignore missing %}
{% endblock %}

{% block content %}

{% block title_name %}
    {% include 'title_name.html' ignore missing %}
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=container>
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
      {{ message }}
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="container">
  {% set open_incidents = incidents.get_all_active() | rejectattr('impact', 'equalto', 0) | list %}
  {% if open_incidents | length == 0 %}
    <div class="alert alert-success" role="alert">
      All systems running
    </div>
  {% else %}
    {% for incident in open_incidents | sort(attribute='start_date', reverse = True) %}
      {% set impact = config['INCIDENT_IMPACTS'][incident.impact] %}
        <div class="alert alert-{{impact.key}}" role="alert">
          <h4 class="alert-heading">
              <a class="alert-link"
                  href="incidents/{{incident.id}}"> {{ incident.text }}</a>
        </h4>
	<h6>Impact: {{ impact.string }}</h6>
	{% set regions = incident.get_attributes_by_key('region') %}
        <h6>Affected Region(s): {{
            regions
            | join(', ')
            }}</h6>
        <h6>Affected Service(s):
            {% set comma = joiner() %}
            {% for comp in incident.components -%}
            {% with attrs = comp.get_attributes_as_dict() -%}
            {{ comma() }}{{ comp.name }}
            {%- if regions|length > 1 %}
            ({{attrs['region']}})
            {%- endif %}
            {%- endwith %}
            {%- endfor %}
        </h6>
        <small class="text-secondary">Started: {{ incident.start_date.strftime('%Y-%m-%dT%H:%M') }}</small>
        <hr/>
        {% if incident.updates | rejectattr('status', 'equalto', 'description') | list | length != 0 %}
          <div class="container text-left">
          {% set update = incident.updates | rejectattr('status', 'equalto', 'description') | list | first %}
            <div class="row">
                <div class="col-md-2">
                    <h6>{{ update.status }}</h6>
                    <small class="text-secondary">Posted {{ update.timestamp.strftime('%Y-%m-%d %H:%M') }}</small>
                </div>
                <div class="col-md-10">
                    {{ update.text }}
                </div>
                <hr/>
            </div>
          </div>
        {% endif %}
      </div>
     {% endfor %}
  {% endif %}

<div class="container">
  {% set regions = component_attributes.get_unique_values('region') %}
  {% set all_components_with_incidents = components.all_with_active_incidents() %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    {% for region in regions %}
      <li class="nav-item" role="presentation">
          {% if loop.first %}
          <button class="nav-link active"
          {% else %}
          <button class="nav-link"
          {% endif %}
                  id="{{ region }}-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#{{ region }}"
                  type="button"
                  role="tab"
                  aria-controls="{{region}}"
                  {% if loop.first %}
                  aria-selected="true"
                  {% else %}
                  aria-selected="false"
                  {% endif %}
                  >
              {{ region | upper }}</button>
      </li>
    {% endfor %}
  </ul>
 <!-- Tab panes -->
 <div class="tab-content mt-3">
   {% for region in regions %}
     {% if loop.first %}
       <div class="tab-pane fade show active"
     {% else %}
       <div class="tab-pane fade"
     {% endif %}
          id="{{region}}"
          tabindex="0"
          role="tabpanel"
          aria-labelledby="{{region}}-tab"
          >
          {% include 'region_card.html' %}
       </div>
   {% endfor %}
 </div>
</div>

{% set open_maintenances = incidents.get_all_active() | selectattr('impact', 'equalto', 0) | list %}
{% if open_maintenances | length > 0 %}
<div class="container"><br/>
    {% for incident in open_maintenances | sort(attribute='start_date', reverse = True) %}
      {% set impact = config['INCIDENT_IMPACTS'][incident.impact] %}
        <div class="alert alert-{{impact.key}}" role="alert">
          <h4 class="alert-heading">
              <a class="alert-link"
                  href="incidents/{{incident.id}}"> {{ incident.text }}</a>
        </h4>
      <p class="indent">
      {% set desc = incident.updates
        | selectattr('status', 'equalto', 'description')
        | first
        | default(None) %}
      {% if desc %}
        {{ desc.text }}
      {% endif %}
      {% block add_message %}
        {% include 'message.html' ignore missing %}
      {% endblock %}
      </p>
	<h6>Impact: {{ impact.string }}</h6>
	{% set regions = incident.get_attributes_by_key('region') %}
        <h6>Affected Region(s): {{
            regions
            | join(', ')
            }}</h6>
        <h6>Affected Service(s):
            {% set comma = joiner() %}
            {% for comp in incident.components -%}
            {% with attrs = comp.get_attributes_as_dict() -%}
            {{ comma() }}{{ comp.name }}
            {%- if regions|length > 1 %}
            ({{attrs['region']}})
            {%- endif %}
            {%- endwith %}
            {%- endfor %}
        </h6>
        <small class="text-secondary">Started: {{ incident.start_date.strftime('%Y-%m-%dT%H:%M') }}</small>
        <br/>
        <small class="text-secondary">Planned end date: {{ incident.end_date.strftime('%Y-%m-%dT%H:%M') }}</small>
        <hr/>
        {% if incident.updates | rejectattr('status', 'equalto', 'description') | list | length != 0 %}
          <div class="container text-left">
          {% set update = incident.updates | rejectattr('status', 'equalto', 'description') | list | first %}
            <div class="row">
                <div class="col-md-2">
                    <h6>{{ update.status }}</h6>
                    <small class="text-secondary">Posted {{ update.timestamp.strftime('%Y-%m-%d %H:%M') }}</small>
                </div>
                <div class="col-md-10">
                    {{ update.text }}
                </div>
                <hr/>
            </div>
          </div>
        {% endif %}
      </div>
     {% endfor %}
  {% endif %}
</div>

<div>
  <div class="container mt-4">
    <ul class="list-group list-group-horizontal list-group-flush">
      <li class="list-group-item">
          <i class="bi sd-available me-1"></i>Operational</li></li>
      <li class="list-group-item">
          <i class="bi sd-maintenance me-1"></i>Maintenance</li>
      <li class="list-group-item">
          <i class="bi sd-minor me-1"></i><span>Minor Issue</span></li>
      <li class="list-group-item">
          <i class="bi sd-major me-1"></i><span>Major Issue</span></li>
      <li class="list-group-item">
          <i class="bi sd-outage me-1"></i><span>Outage</span></li>
    </ul>
  </div>
</div>

{% endblock %}

{% macro component_status_widget(component) -%}
    {% if not component.incidents %}
      <i class="bi sd-available">
      {% if component.planned_maintenance() %}
      {% set planned=component.planned_maintenance() %}
      <a href="/incidents/{{ planned.id }}" title="Planned Maintenance">
        <i class="bi bi-circle"></i>
        <i class="bi sd-planned-maintenance"></i>
      </a>
    {% endif %}</i>
    {% else %}
    {% set incident=incidents.get_prioritized_impact(component.incidents) %}
    <div>
      <a href="/incidents/{{ incident.id }}" title="Open Incident">
        <i class="bi sd-{{ config['INCIDENT_IMPACTS'][incident.impact].key }}"></i>
      </a>
        {% if component.planned_maintenance() %}
        {% set planned=component.planned_maintenance() %}
        <a href="/incidents/{{ planned.id }}" title="Planned Maintenance">
          <i class="bi bi-circle"></i>
          <i class="bi sd-planned-maintenance"></i>
        </a>
    {% endif %}
    </div>
    {% endif %}
{% endmacro -%}
