<div class="accordion accordion-flush" id="accordionExample">
    {% for cat in categories %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{region.id}}_{{cat.id}}">
        <button 
            class="accordion-button" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{region.id}}_{{cat.id}}"
            aria-expanded="true"
            aria-controls="collapse{{region.id}}_{{cat.id}}">
                {{ cat.name }}&nbsp;
          <span class="badge text-bg-success service-hdr end-0">100%</span>
        </button>
      </h2>
      <div id="collapse{{region.id}}_{{cat.id}}" 
           class="accordion-collapse collapse"
           aria-labelledby="heading{{region.id}}_{{cat.id}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="list-group list-group-flush">
          {% for x in region.services_by_category(cat.id) %}
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
               <h5 class="mb-1">{{x.name}}</h5> 
               <small><b>Available</b></small>
            </div> <!-- service title -->
            <div class="mb-1">
                 <svg class="availability-time-line-graphic"
                     id="uptime-component" 
                     preserveAspectRatio="none" 
                     height="34"
                     width="100%"
                     viewBox="0 0 453 34">

                  {% for i in range(90) %}
                    <rect height="34" 
                          width="3" 
                          x="{{ i * 5 }}" 
                          y="0"
                          fill="#2fcc66" 
                          class="uptime-day component day-{{i}}"
                          data-html="true"
                          data-bs-toggle="tooltip"
                          data-bs-title="No Incidents"
                          id="srv-{{i}}-{{region.id}}-{{x.id}}"></rect>
                   {% endfor %}
                 </svg>
            </div>
            <small>100%</small>
          </li>
          {% endfor %}
          </div> <!-- list-group -->
        </div> <!-- accordion-body -->
      </div>
    </div>
    {% endfor %}
</div>
