* {
    border-radius: 0 !important;
}

body {
    --admonition-background-error: hsla(353.8, 100%, 88.6%, 0.35);
    --admonition-icon-error: rgb(253, 0, 25);
    --admonition-background-warning:  hsla(33.5, 100%, 75.1%, 0.3);
    --admonition-icon-warning:  rgb(243, 138, 0);
    --admonition-background-informational: hsla(190.2, 100%, 92%, 0.75);
    --admonition-icon-informational: rgb(5, 181, 216);
    --admonition-background-success: hsl(98.8, 49.7%, 61%, 0.2);
    --admonition-icon-success: rgb(69, 192, 3);

}

body {
  color: var(--bs-primary-rgb);
}

/* Sizing */
/* force using full screen */
.container-xxl {
  max-width: unset !important;
}

/* NAVBAR */
/* tiny magenta line sticks to the top */
.skippy {
  background-color: var(--bs-blue);
  height: 4px;
}

main.container {
    margin-top: 1rem;
    max-width: 960px;
}

.alert-success {
    background-color: var(--admonition-background-success);
/*    color: white;*/
}

nav.navbar {
    padding: 0 0 0.75rem 0 !important;
    background: var(--bs-blue);
}

.navbar-brand {
  max-width: 250px;
  display: flex;
}

.navbar-brand img {
    width: 100%,
    max-width: 300px;
    height: 38px;
}

.header-title {
    color: var(--color-white);
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
}

.bi-check-circle {
    color: var(--bs-green);
}
.bi-info-circle {
    color: var(--bs-blue);
}
.bi-x-circle {
    color: var(--bs-red);
}

.sd-available::before {
    content: "\f26b";
    color: var(--bs-green);
}
.sd-outage::before {
    content: "\f623";
    color: var(--bs-red);
}
.sd-major::before {
    content: "\f623";
    color: var(--bs-orange);
}
.sd-minor::before {
    content: "\f623";
    color: var(--bs-cyan);
}
.sd-maintenance::before {
    content: "\f130";
    color: var(--bs-blue);
}

.alert-outage {
    background-color: var(--bs-red);
    border: 2px solid var(--bs-red);
}
.alert-major {
    border: 2px solid var(--bs-orange);
}
.alert-minor {
    border: 2px solid var(--bs-yellow);
}
.alert-maintenance {
    border: 2px solid var(--bs-blue);
}

.bi {
    font-size: 1rem;
}


/* Footer */
footer.footer {
  background: var(--bs-gray-700);
  display: flex;
  bottom: 0;
}

.footer-links {
  display: flex;
}

.footer-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer-links ul {
    display: block;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-top: 15px;
    padding-left: 0;
  }
}

.footer-links a {
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
}

.footer-logo {
  height: 24px;
}
