* {
    border-radius: 0 !important;
}

body {
}

body {
  color: var(--bs-primary-rgb);
}

/* Sizing */
/* force using full screen */
.container-xxl {
  max-width: unset !important;
}

/* NAVBAR */
/* tiny blue line sticks to the top */
.skippy {
  background-color: var(--bs-blue);
  height: 4px;
}

main.container {
    margin-top: 1rem;
    max-width: 960px;
}

.alert-success {
/*    background-color: var(--admonition-background-success);*/
/*    color: white;*/
}

nav.navbar {
    padding: 0 0 0.75rem 0 !important;
    background: var(--bs-blue);
}

.navbar-brand {
  max-width: 250px;
/*  display: flex;*/
}

.navbar-brand img {
    width: 100%,
    max-width: 300px;
    height: 38px;
}

.header-title {
    color: var(--color-white);
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
}

.bi-check-circle {
    color: var(--bs-green);
}
.bi-info-circle {
    color: var(--bs-blue);
}
.bi-x-circle {
    color: var(--bs-red);
}

.sd-available::before {
    content: "\f26a";
    color: var(--bs-green);
}
.sd-outage::before {
    content: "\f622";
    color: var(--bs-red);
}
.sd-major::before {
    content: "\f622";
    color: var(--bs-orange);
}
.sd-minor::before {
    content: "\f622";
    color: var(--bs-cyan);
}
.sd-maintenance::before {
    content: "\f78e";
    color: var(--bs-blue);
}

.alert-outage {
    background-color: var(--bs-red);
    border: 2px solid var(--bs-red);
}
.alert-outage .alert-link {
    color: var(--bs-dark)
}
.alert-major {
    border: 2px solid var(--bs-orange);
}
.alert-major .alert-link {
    color: var(--bs-orange)
}
.alert-minor {
    border: 2px solid var(--bs-cyan);
}
.alert-minor .alert-link {
    color: var(--bs-cyan)
}
.alert-maintenance {
    border: 2px solid var(--bs-blue);
}

.bi {
    font-size: 1rem;
}


/* Footer */
footer.footer {
  background: var(--bs-gray-700);
  display: flex;
  bottom: 0;
}

.footer-links {
  display: flex;
}

.footer-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer-links ul {
    display: block;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-top: 15px;
    padding-left: 0;
  }
}

.footer-links a {
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
}

.footer-logo {
  height: 24px;
}
