<footer id="footer" class="footer mt-4 py-1 d-print-none" role="contentinfo">
	<div class="container-xxl py-1">
		<div class="row footer-links">
      <div class="col-lg-6 col-sm-6">
        <img class="footer-logo" src="{{url_for('static', filename='images/dt.svg')}}">
      </div>
      <div class="col-lg-6 col-sm-6" aria-label="bottom">
        <ul>
          <li><a href="https://cloud.telekom.de/en/contact/">Contact</a></li>
          <li><a href="https://www.t-systems.com/de/en/imprint">Legal Statement</a></li>
          <li><a href="https://www.t-systems.com/de/en/data-protection">Privacy Protection</a></li>
          <li><a href="https://www.t-systems.com/de/en/disclaimer-of-liability">Legal Agreement</a></li>
        </ul>
      </div>
    </div>
	</div>
</footer>
