{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Components</th>
        {% for region in regions %}
        <th scope="col">{{ region[0] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for component in components %}
        <tr>
          <th scope="row">{{ component.name }}</th>
          {% for region in regions %}
            <td>
              {% if component.component_by_region(component.name, region[0])[0][0] == component.name %}
                <i class="bi sd-available me-1"></i></li>
              {% else %}
                UNAVAILABLE
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div>
  <div class="container mt-4">
    <ul class="list-group list-group-horizontal list-group-flush">
      <li class="list-group-item">
        <i class="bi sd-available me-1"></i><span>Exist</span></li>
      <li class="list-group-item">
        <i class="bi sd-outage me-1"></i><span>Not Exist</span></li>
      <!--
      <li class="list-group-item">
          <i class="bi sd-available me-1"></i>Operational</li>
      <li class="list-group-item">
          <i class="bi sd-maintenance me-1"></i>Maintenance</li>
      <li class="list-group-item">
          <i class="bi sd-minor me-1"></i><span>Minor Issue</span></li>
      <li class="list-group-item">
          <i class="bi sd-major me-1"></i><span>Major Issue</span></li>
      <li class="list-group-item">
          <i class="bi sd-outage me-1"></i><span>Outage</span></li>
      -->
    </ul>
  </div>
</div>
{% endblock %}
