{% extends "base.html" %}

{% block content %}
<div class="container">
  {% set regions = component_attributes.get_unique_values('region') %}
  {% set all_components = components.query.all() %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    {% for region in regions %}
      <li class="nav-item" role="presentation">
          {% if loop.first %}
          <button class="nav-link active"
          {% else %}
          <button class="nav-link"
          {% endif %}
                  id="{{ region }}-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#{{ region }}"
                  type="button"
                  role="tab"
                  aria-controls="{{region}}"
                  {% if loop.first %}
                  aria-selected="true"
                  {% else %}
                  aria-selected="false"
                  {% endif %}
                  >
              {{ region | upper }}</button>
      </li>
    {% endfor %}
  </ul>
 <!-- Tab panes -->
 <div class="tab-content mt-3">
   {% for region in regions %}
     {% if loop.first %}
       <div class="tab-pane fade show active"
     {% else %}
       <div class="tab-pane fade"
     {% endif %}
          id="{{region}}"
          tabindex="0"
          role="tabpanel"
          aria-labelledby="{{region}}-tab"
          >
          {% include 'region_card.html' %}
       </div>
   {% endfor %}
 </div>
</div>

<div>
  <div class="container mt-4">
    <ul class="list-group list-group-horizontal list-group-flush">
      <li class="list-group-item">
          <i class="bi sd-available me-1"></i>Operational</li></li>
      <li class="list-group-item">
          <i class="bi sd-maintenance me-1"></i>Maintenance</li>
      <li class="list-group-item">
          <i class="bi sd-minor me-1"></i><span>Minor Issue</span></li>
      <li class="list-group-item">
          <i class="bi sd-major me-1"></i><span>Major Issue</span></li>
      <li class="list-group-item">
          <i class="bi sd-outage me-1"></i><span>Outage</span></li>
    </ul>
  </div>
</div>
{% endblock %}
